build/
rom.z64
*.elf
*.pkg
*.self
*.log
*.o
*.d
*.vpo
*.fpo
*.bin
*.stackdump
python2.7
.vscode/
gitk3y.txt
pkg/USRDIR/
decomp/
abrir_bash.bat
bfg-1.15.0.jar
compilacion.log
PS3SFOEdit.zip
Textures.cpp
wii64-ps3.code-workspace
.build